{% extends 'base.html' %} {% block content %}

<section class="hero-section">
  <div class="container">
    <div class="row align-items-center min-vh-100">
      <!-- TEXTO -->
      <div class="col-lg-6">
        <a
          href="https://www.facebook.com/TECNMCampusTlahuacII"
          target="_blank"
          class="badge-custom text-decoration-none"
          >Instituto Tecnologico de Tlahuac II</a
        >

        <h1 class="hero-title">
          Realiza tus trámites de forma rápida y segura
        </h1>

        <p class="hero-text">
          Solicita constancias, certificados y documentos institucionales desde
          cualquier lugar y en minutos.
        </p>

        <div class="mt-4">
          <a href="#" class="btn btn-primary btn-lg"> Explorar Trámites </a>
        </div>
      </div>

      <!-- IMAGEN -->
      <div class="col-lg-6 text-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          class="hero-image"
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
